<!DOCTYPE html>
<html>
<head>
    <title>家的印记</title>
    <style>
        div{
        background-color: #FFE8BF;
        text-align: center;
        }
        img{

          width: 100px;
          height: 100px;
          margin: auto;
          border: 10px solid #BFFFBF;
         float: right;
         z-index:-1;

        }
        p{
        display:block;
         margin: auto;
        }
        #poet_silent{
         width:250px;
         height:120px;
         margin: auto;
        }
    </style>
</head>
<body>
    <script>

    </script>
    <p>
    <div id="poet_silent">
        <img src="/static/img/ic_flowers.jpg">
        绿丛中一点红，<br/>繁华里半份静。<br/>
        风中自摇曳，<br/>枝头唯俏姿。<br/>
        心寓野边花，<br/>心向天际蓝。<br/>

    </div>
    </p>

</body>
</html>