<!DOCTYPE html>

<html>
    <head>
        <title>GOLang</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
    <script>
        {{with $x := "output" | printf "%q"}}{{$x}}{{end}}
    </script>
         <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
            <div class="row">
              <div class="hero-text">
                <h1>Welcome to GoLang!</h1>
                <p>
                    Contact me: {{.Email}}
                    <!--$.表示模板根级上下文 . 表示当前位置上下文-->
                    {{$.Temp}}
                    <!--with 用于重定向管道上下文 或者模板局部变量赋值-->
                    {{with $x := "output: %s" }}{{printf . "sssas"}}{{end}}

                    {{define "Funny"}}<font size="14">{{.Name}}</font>{{end}}
                    {{template "Funny" .}}
                    {{ .Name |printf "%s"  }}
                  </p>
              </div>
            </div>
            </div>
        </header>
    </body>
    </html>